<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-anexos-heading" jhiTranslate="sgcApp.anexos.home.createOrEditLabel">Create or edit a Anexos</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.anexos.nomAnexo" for="field_nomAnexo">Nom Anexo</label>
                    <input type="text" class="form-control" name="nomAnexo" id="field_nomAnexo"
                           formControlName="nomAnexo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.anexos.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.anexos.img" for="field_img">Img</label>
                    <div>
                        <div *ngIf="editForm.get('img').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('imgContentType').value, editForm.get('img').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('imgContentType').value}}, {{byteSize(editForm.get('img').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({img: null});editForm.patchValue({imgContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_img" (change)="setFileData($event, 'img', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="img" id="field_img"
                           formControlName="img"/>
                    <input type="hidden" class="form-control" name="imgContentType" id="field_imgContentType"
                           formControlName="imgContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.anexos.idPadre" for="field_idPadre">Id Padre</label>
                    <input type="number" class="form-control" name="idPadre" id="field_idPadre"
                           formControlName="idPadre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.anexos.idDoc" for="field_idDoc">Id Doc</label>
                    <input type="number" class="form-control" name="idDoc" id="field_idDoc"
                           formControlName="idDoc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.anexos.documentoSGC" for="field_documentoSGC">Documento SGC</label>
                    <select class="form-control" id="field_documentoSGC" name="documentoSGC" formControlName="documentoSGC">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentoSGCOption.id === editForm.get('documentoSGC').value?.id ? editForm.get('documentoSGC').value : documentoSGCOption" *ngFor="let documentoSGCOption of documentosgcs; trackBy: trackDocumentoSGCById">{{documentoSGCOption.codigo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
