<div>
    <h2 id="page-heading">
        <span jhiTranslate="sgcApp.solRevision.home.title">Sol Revisions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sol-revision" [routerLink]="['/sol-revision/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sgcApp.solRevision.home.createLabel">
            Create new Sol Revision
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="solRevisions?.length === 0">
        <span jhiTranslate="sgcApp.solRevision.home.notFound">No solRevisions found</span>
    </div>
    <div class="table-responsive" *ngIf="solRevisions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sgcApp.solRevision.code">Code</span></th>
            <th><span jhiTranslate="sgcApp.solRevision.idUser">Id User</span></th>
            <th><span jhiTranslate="sgcApp.solRevision.idSol">Id Sol</span></th>
            <th><span jhiTranslate="sgcApp.solRevision.estado">Estado</span></th>
            <th><span jhiTranslate="sgcApp.solRevision.user">User</span></th>
            <th><span jhiTranslate="sgcApp.solRevision.solicitud">Solicitud</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let solRevision of solRevisions ;trackBy: trackId">
                <td><a [routerLink]="['/sol-revision', solRevision.id, 'view' ]">{{solRevision.id}}</a></td>
                <td>{{solRevision.code}}</td>
                <td>{{solRevision.idUser}}</td>
                <td>{{solRevision.idSol}}</td>
                <td>{{solRevision.estado}}</td>
                <td>
                    {{solRevision.user?.login}}
                </td>
                <td>
                    <div *ngIf="solRevision.solicitud">
                        <a [routerLink]="['../solicitud', solRevision.solicitud?.id, 'view' ]" >{{solRevision.solicitud?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sol-revision', solRevision.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sol-revision', solRevision.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sol-revision', { outlets: { popup: solRevision.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
