<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contenido-heading" jhiTranslate="sgcApp.contenido.home.createOrEditLabel">Create or edit a Contenido</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.contenido.actividad" for="field_actividad">Actividad</label>
                    <input type="text" class="form-control" name="actividad" id="field_actividad"
                           formControlName="actividad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.contenido.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.contenido.responsable" for="field_responsable">Responsable</label>
                    <input type="text" class="form-control" name="responsable" id="field_responsable"
                           formControlName="responsable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.contenido.registro" for="field_registro">Registro</label>
                    <input type="text" class="form-control" name="registro" id="field_registro"
                           formControlName="registro"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.contenido.idDoc" for="field_idDoc">Id Doc</label>
                    <input type="number" class="form-control" name="idDoc" id="field_idDoc"
                           formControlName="idDoc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sgcApp.contenido.documentoSGC" for="field_documentoSGC">Documento SGC</label>
                    <select class="form-control" id="field_documentoSGC" name="documentoSGC" formControlName="documentoSGC">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentoSGCOption.id === editForm.get('documentoSGC').value?.id ? editForm.get('documentoSGC').value : documentoSGCOption" *ngFor="let documentoSGCOption of documentosgcs; trackBy: trackDocumentoSGCById">{{documentoSGCOption.codigo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
